<%= link_to blog.title, blog, class: "blog-title" %>

<p class="blog-description">
  Last updated: <%= standard_date_format(blog.updated_at) %>
</p>

<div>
  <% if user_signed_in? %>
    <%= link_to 'Edit', edit_blog_path(blog) %> | 
    <%= link_to 'Delete', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</div>

<p class="blog-description">
  <%= markdown(blog.description) %>
</p>