<tr>
  <td><%= blog.title %></td>
  <br>
  <td>Last updated <%= distance_of_time_in_words(blog.updated_at, Time.now) %></td>
  <br>
  
  <td><%= link_to 'Show', blog %></td>
  <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
  <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <br><br>
</tr>
