<% if user_signed_in? %>
  <%= link_to 'Edit', edit_blog_path(@blog, anchor: "my_anchor") %> |
<% end %>
<%= link_to 'Back to Blog', blogs_path %>


<p class="blog-body">
  <%= markdown(@blog.body) %>
</p>

<div class="blog-bottom-links">
  <%= link_to "Back to Top", "#" %> | <%= link_to 'Back to Blog', blogs_path %>
</div>