<% if user_signed_in? %>
  <%= link_to 'Edit', edit_blog_path(@blog, anchor: "my_anchor") %> |
<% end %>
<%= link_to 'Back to Blog', blogs_path %>

<p id="notice"><%= notice %></p>

<span class="blog-title">
  <%= @blog.title %>
</span>

<p class="blog-body">
  <%= markdown(@blog.body) %>
</p>

<%= link_to "Back to Top", "#" %> | <%= link_to 'Back to Blog', blogs_path %>