<%= link_to 'Back to Blog', blogs_path %>
<% if user_signed_in? %>
  | <%= link_to 'Edit', edit_blog_path(@blog) %>
<% end %>

<p id="notice"><%= notice %></p>

<p class="blog-title">
  <%= @blog.title %>
</p>

<p class="blog-body">
  <%= markdown(@blog.body) %>
</p>
