<p id="notice"><%= notice %></p>
<%= link_to 'Edit', edit_blog_path(@blog) %> | <%= link_to 'Back', blogs_path %>

<p class="blog-title">
  <%= @blog.title %>
</p>

<p class="blog-body">
  <%= markdown(@blog.body) %>
</p>
