<div class="col-md-3">
  <div class="dark-container">
    <div class="">
      <h3 class="">Contact</h3>
      <br>
      <h5>Email</h5>
      <p>Lamvdoan@gmail.com</p>
      <br>
      <h5>Cell</h5>
      <p>708-821-0281</p>
    </div>

    <div class="content-section">
      <h3 class="">Social Media</h3>
      <ul class="list-unstyled social-links">
        <li><a href="https://github.com/lamvdoan/"><%= fa_icon "github-square" %></a></li>
        <li><a href="https://www.linkedin.com/in/lamdoan/"><%= fa_icon "linkedin" %></a></li>
        <li><a href="https://www.facebook.com/van.doan.10"><%= fa_icon "facebook-square" %></a></li>
        <li><a href="https://twitter.com/lamvdoan"><%= fa_icon "twitter-square" %></a></li>
        <li><a href="https://tinyurl.com/gr5tg28"><%= fa_icon "gamepad" %></a></li>
      </ul>
    </div>
  </div>
</div>