<div class="col-md-3">
  <div class="dark-container">
    <div class="sidebar-section">
      <h3>Contact</h3>
      <div class="hl"></div>
      
      <h5 class="heading">Address</h5>
      <p>
        1448 N Western Ave<br>
        Chicago, IL 60622
      </p>
      
      <h5 class="heading">Email</h5>
      <p>Lamvdoan@gmail.com</p>

      <h5 class="heading">Cell</h5>
      <p>708-821-0281</p>
    </div>

    <div class="sidebar-section">
      <h3>Social Media</h3>
      <div class="hl"></div>

      <ul class="list-unstyled social-links">
        <li><a href="https://github.com/lamvdoan/"><%= fa_icon "github-square" %></a></li>
        <li><a href="https://www.linkedin.com/in/lamdoan/"><%= fa_icon "linkedin" %></a></li>
        <li><a href="https://www.facebook.com/van.doan.10"><%= fa_icon "facebook-square" %></a></li>
        <li><a href="https://twitter.com/lamvdoan"><%= fa_icon "twitter-square" %></a></li>
        <li><a href="https://tinyurl.com/gr5tg28"><%= fa_icon "gamepad" %></a></li>
      </ul>
    </div>
  </div>
</div>
