<main role="main" class="inner cover">
  <div class="row">
    <div class="col-md-8">

      <div class="row content-section">
        <div class="col-md-5 center">
          <%= image_tag "LamDoan.jpg", width: 300, class: "about-image-mobile" %>
        </div>
        <div class="col-md-7">
          <h2>It started with a spark</h2>
          <div class="paragraph">
            My engineering career began as a QA.  I learned how to interact with different roles, the entire software lifecycle, and of course, testing.  My career kicked started when I completed the accelerated Java class created by the engineering leadership.  After completing the course, I started coding automated tests for front-end and back-end applications.
          </div>
        </div>
      </div>

      <div class="row content-section">
        <div class="col-md-7">
          <h2>Rolling into the deep</h2>
          <div class="paragraph">
            I decided to join Outcome Health on September 2016.  I became more curious with coding, and this grew into building a test framework from scratch, working with data analytics, and learning how to build an Android app my side project.  My last project there was the most complex piece of software I have ever built, the <a href=<%= blog_path(4) %>>Analytics Validation Service</a>.  
          </div>
        </div>
        <div class="col-md-4 center">
          <%= image_tag "LamOutcome.jpg", width: 300 %>
        </div>
      </div>

      <div class="row content-section">
        <div class="col-md-5 center">
          <%= image_tag "LamTemple.jpg", width: 300, class: "about-image-mobile" %>
        </div>
        <div class="col-md-7">
          <h2>Doing what I love</h2>
          <div class="paragraph">
            The more I learned over time, the more obsessed I became.  On November 2018, I quit my job to study application development and code full time.  My first project included Javascript, React, and HTML/CSS.  After that, I moved on to Ruby/Rails and worked on this profile website.  The most valuable lesson I've acquired as an engineer is that curiosity and learning never stops.
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-1"></div>
    <%= render "shared/about_sidebar" %>
  </div>
</main>
