<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    
    <title>LVD<%= @title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= render "shared/google_analytics" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag asset_path("favicon.ico") %>
  </head>

  <body>
    <%= render "shared/blog_nav_bar" %>
    
    <div class="container">
      <%= render "shared/blog_header" %>

      <main role="main">
        <div class="row">
          <aside class="col-md-3 blog-sidebar">
            <%= render "shared/blog_sidebar" %>
          </aside>

          <div class="col-md-9 main">
            <%= yield %>
          </div>


        </div>
      </main>
    </div>

    <%= render "shared/blog_footer" %>
  </body>
</html>
